<%- include('partials/header.ejs') %>

<!--Main Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Comp229</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <% if (title == "Home") { %>
          < class="nav-item active">
          <% } else { %>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home"><i class="fa-sharp fa-solid fa-house"></i> Home</a>
          </li>

          <% if (title == "About") { %>
          < class="nav-item active">
          <% } else { %>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about"><i class="fa-sharp fa-solid fa-circle-info"></i> About</a>
          </li>

          <% if (title == "Products") { %>
          < class="nav-item active">
          <% } else { %>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/products"><i class="fa-brands fa-product-hunt"></i> Products</a>
          </li>

          <% if (title == "Services") { %>
          < class="nav-item active">
          <% } else { %>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services"><i class="fa-sharp fa-solid fa-bell-concierge"></i> Services</a>
          </li>

          <% if (title == "Contact") { %>
          < class="nav-item active">
          <% } else { %>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"><i class="fa-solid fa-mobile"></i> Contact</a>
          </li>
          
      </div>
    </div>
  </nav>


  

  <!--Main Content-->
  <main class="container">
    <div class="jumbotorn">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main>

<!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      
      <div class="container-fluid">
        <a class="navbar-brand" href="#">&copy; Copyright 2022. All Rights reserved.</a>
      </div>
    </nav>
  </footer>

     <!-- Script Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  
</body>
</html>









